body{
    background: white;
}

main{
    display: flex;
}

.custom{
    width: 75%;
    margin-left: 150px;
}

.form-posisi{
    margin-left: 10px;
}

.gambar-wallpaper{
    margin-left: 140px;
    margin-top: 50px;
}

.custom-table tr td{
    padding left: 10px;
    padding-right: 10px;
}

.posisi-tabel{
    margin-left: -5px;
}

.posisi-tabel tbody tr td{
    font-size: 13px;
}

.float{
    float: right;
}

.atur{
    padding-right: 5px;
}

.excel{
    padding-right: 5px;
    padding-left: 10px;
}

.kiri{
    width: 15%;
    background-color: #0148ba;
    height: 900px;
    position:fixed;
    margin: -15px -10px;
}

.kiri2{
    width: 15%;
    background-color: #423f3d;
    height: 900px;
    position:fixed;
    margin: -0px -10px;
}

.title{
    font-size: 50px;
}

nav{
    margin:-10px -20px;
    margin-top: -16px;
    padding: 5px 5px;
    padding-right: 30px; 
}

button a{
    text-decoration: none;
}

button a{
    color:white;
}

nav ul{
    letter-spacing: 0.2px;
}

ul{
    list-style-type: none;
}

li{
    margin: 15px -15px;
}

.menu{
    font-size: 40px;
    padding: 10px ;
    color:white;
    font-family: Manga Temple;
}
.menu2{
    font-size: 40px;
    padding: 10px ;
    color:white;
    font-family: Manga Temple;
}

.kopi{
    margin-top: 30px;
}

.tulisan-berjalan{
    color:red;
}

nav ul li a:hover{
    background-color: white;
    text-decoration: none;
    margin-left: -10px;
    padding: 2px 2px;
}

nav ul li a{
    text-decoration: none;
    margin-left: -5px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 7px;
    display: block;
    width: 97%;
    height: 100%;
    padding-left: 10px; 
    
}

.space{
    word-spacing: -9px;
}

.navbar a{
    color: white;
}

.navbar a:hover
{
    color :black;
    background-color: white;
    text-decoration: none;
    margin-left: -0px;
    padding: 2px 2px;
}

.navbar2 a{
    color: white;
}

.navbar2 a:hover
{
    color :black;
    background-color: white;
    text-decoration: none;
    margin-left: -0px;
    padding: 2px 2px;
    color: black;
}

.kanan{
    width: 85%;
    height: auto;
    margin-left: 195px;
    margin-top: 10px;
    margin-right: 20px;
}

.kanan2{
    width: 85%;
    height: auto;
    position: fixed;
    margin-left: 195px;
    margin-top: -0px;
    margin-right: 20px;
}

.kanan3{
    width: 85%;
    height: auto;
    margin-left: 200px;
    margin-top: -10px;
    margin-right: 20px;
}

.hr{
    width: 70%;
    border-color: black;
}

.hr2{
    width: 100%;
    border-color: white;
}

.form-login{
    margin-top: 13%;
}
.outter-form-login {
    padding: 20px;
    background: #EEEEEE;
    position: relative;
    border-radius: 5px;
}
.logo-login {
    position: absolute;
    font-size: 35px;
    background: red;
    color: white;
    padding: 10px 18px;
    top: -40px;
    border-radius: 50%;
    left: 40%;
}
.inner-login .form-control {
    background: #D3D3D3;
}
h3.title-login {
    font-size: 20px;
    margin-bottom: 20px;
}

.forget {
    margin-top: 20px;
    color: #ADADAD;
}
.btn-custom-green {
    background: #21A957;
    color: #fff;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
 

.wrapper{
 width:70%;
 margin:auto;
}
.ccheader {
 margin: 0 auto;
 padding: 2em;
 text-align: center;
}
 
.ccheader h1 {
 margin: 0;
 font-weight: 300;
 font-size: 2.5em;
 line-height: 1.3;
}
.ccheader {
 margin: 0 auto;
 padding: 2em;
 text-align: center;
}
 
.ccheader h1 {
 margin: 0;
 font-weight: 300;
 font-size: 2.5em;
 line-height: 1.3;
}
 
/* Form CSS*/
.ccform {
   margin: 0 auto;
}
.ccfield-prepend{
 margin-bottom:10px;
 width:100%;
}
 
.ccform-addon{
 color:#f8ae45; 
 float:left;
 padding:8px;
 width:8%;
 min-width: 35px;
 background:#FFFFFF;
 text-align:center;
 display: block; 
}
 
.ccformfield {
 color:black; 
 background:#e1e4e8;
 border:none;
 padding:15.5px;
 width:100%;
 display:block;
 font-family: 'Lato',Arial,sans-serif;
 font-size:14px;
}
 
.ccbtn{
 display:block;
 border:none;
 background:#f8ae45;
 float:right;
 color:#FFFFFF;
 padding:10px;
 cursor:pointer;
 text-decoration:none;
 font-weight:bold;
}
.ccbtn:hover{
 background:#d8850e;
 
}

